<!DOCTYPE html>



<html>

<head>


    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="css/styles.css"> 
<style>

</style>
</head>

<body>
    

    <div id="main-content" class="main-content">
         {{>header}}

         <p> Use this site to get your weather!</p>

         <form>
             <input placeholder="Location">
             
             <button>Search</button>
         </form>
<p id="message-1"></p>
<p id="message-2"></p>

    </div>

    {{>footer}}
    <!-- region-->
{{!-- <script>
    let counter = 0;
    function DarkMode() {
       counter++;
       if (counter % 2 == 0) {
        document.body.style.backgroundColor = '#00bfff';
        document.getElementById('main-content').style.color = '#3d3a3a';
       } else {
        document.body.style.backgroundColor = '#1f1f1f';
        document.getElementById('main-content').style.color = '#7fffd4';
       }
    }
</script> --}}
<!--end region-->
    <script src="js/app.js"></script>
</body>

</html>