<header>
 <button id="button" class="btn">Dark Mode</button>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>


<script src="lightSwitch.js"></script>
