body {
    color: #333333;
    background-color: #00bfff;
    font-family: arial;
    max-width: 255px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
    color:#3d3a3a ;
}

footer {
   color: #716b6b;
   border-top: 2px solid #eeeeee;
   margin-top: 16px;
   padding: 16px 0;
}

header {
margin-top: 145px;
margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #716b6b;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 150px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

.btn {
    cursor: pointer;
    border: 2px solid #888888;
    background: #888888;
    color: black;
    padding: 4px;
}